<div class="performance">
	<% if @stores.length > 0 %>
		<div class="row">
			<div class="small-11 small-centered columns">
				<dl class="sub-nav">
					<dt>Sorting: </dt>
					<dd class="<%= 'active' if @filter == 'amount' %>">
						<%= link_to "Amount", performance_path(:controller => "performance") %>
					</dd>
					<dd class="<%= 'active' if @filter == 'percentage' %>">
						<%= link_to "Percentage", performance_path(:controller => "performance", :filter => "percentage") %>
					</dd>
					<dd class="<%= 'active' if @filter == 'difference' %>">
						<%= link_to "Difference", performance_path(:controller => "performance", :filter => "difference") %>
					</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<section class="small-6 columns">
				<h2 class="title"><span>Best performing store</span></h2>
				<%= render partial: 'reviews_panel', locals: { store: @best_store, quality: "good"} %>
			</section>
			<section class="small-6 columns">
				<h2 class="title"><span>Worst performing store</span></h2>
				<%= render partial: 'reviews_panel', locals: { store: @worst_store, quality: "bad"} %>
			</section>
		</div>
	<% else %>
		<p class="panel text-center">
			Sorry, there are currently no performance reports.
		</p>
	<% end %>
</div>
