<div class="row store-reviews">
  <section class="filters small-3 columns">
    <%= form_tag search_path, :method => "get" do %>
      <%= label_tag :store_id, "Enter Store ID:" %>
      <%= text_field_tag :store_id,  @store_id %>
      <%= submit_tag "Search", :class => "button expand" %>
    <% end %>
  </section>
</div>