<div class="row store-reviews">

	<section class="filters small-3 columns">

		<%= form_tag "/store", :method => "GET" do %>
			<%= label_tag :store_id, "Enter Store ID:" %>
			<%= text_field_tag :store_id,  @store_id %>
			<%= submit_tag "Search", :class => "button expand" %>
		<% end %>

		<% if @good_experiences && @bad_experiences %>
			<div class="rating">

				<h5 class="title">Overall experience</h5>

				<div class="medium-4 medium-offset-2 columns">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "good") do %>
						<img src="<%= image_url('good.png') %>" width="100%" alt="good experience" />
						<%= @good_experiences.length %>
					<% end %>
				</div>
				<div class="medium-4 columns end">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "bad") do %>
						<img src="<%= image_url('bad.png') %>" width="100%" alt="bad experience" />
						<%= @bad_experiences.length %>
					<% end %>
				</div>
			</div>

			<div class="rating">

				<h5 class="title">Today's experience</h5>

				<div class="medium-4 medium-offset-2 columns">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "good") do %>
						<img src="<%= image_url('good.png') %>" width="100%" alt="good experience" />
						<%= Store.filter_by_date("today", @good_experiences).length %>
					<% end %>
				</div>
				<div class="medium-4 columns end">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "bad") do %>
						<img src="<%= image_url('bad.png') %>" width="100%" alt="bad experience" />
						<%= Store.filter_by_date("today", @bad_experiences).length %>
					<% end %>
				</div>
			</div>

			<div class="rating">

				<h5 class="title">Yesterday's experience</h5>

				<div class="medium-4 medium-offset-2 columns">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "good") do %>
						<img src="<%= image_url('good.png') %>" width="100%" alt="good experience" />
						<%= Store.filter_by_date("yesterday", @good_experiences).length %>
					<% end %>
				</div>
				<div class="medium-4 columns end">
					<%= link_to store_path(:controller => "dashboard", :store_id => @store_id, :experience => "bad") do %>
						<img src="<%= image_url('bad.png') %>" width="100%" alt="bad experience" />
						<%= Store.filter_by_date("yesterday", @bad_experiences).length %>
					<% end %>
				</div>
			</div>
		<% end %>

	</section>

	<section class="store small-9 columns">

		<% if !@store_id %>
			<p class="panel text-center">
				Please enter a store ID to view the reviews for a specific store.
			</p>
		<% else %>
			<% if !@store %>
				<p class="panel text-center">
					Sorry, couldn't find any data with this Store ID.
				</p>
			<% else %>
				<h1 class="store-id">Store ID: <%= @store_id %></h1>

				<% if @store.length > 0 %>
					<ul class="reviews">
					<% @store.each do |key, s| %>
						<li class="row">
							<div class="info small-2 columns">
								<img src="<%= image_url(s['experience'] + '.png') %>" width="100%" alt="<%= s['experience'] %> experience" />
								<%= s['time'].to_date %>
								<%= s['time'].split[4] %>
							</div>
							<div class="reason small-10 columns">
								<% if s['extraInfo'].length > 0 %>
									<p><%= s['extraInfo'] %></p>
								<% end %>
								<% if s['why'] && s['why'].any? %>
									<br>
									<b>Reasons:</b>
									<ul>
									<% s['why'].each do |why| %>
										<li><%= why %></li>
									<% end %>
									</ul>
								<% end %>
							</div>
						</li>
					<% end %>
					</ul>
				<% else %>
					<p class="panel text-center">
						Sorry, couldn't find any experiences with this Store ID and filter.
					</p>
				<% end %>
			<% end %>
		<% end %>

	</section>

</div>
