<div class="row store-reviews">

	<section class="filters small-3 columns">

		<%= form_tag search_path, :method => "get" do %>
			<%= label_tag :store_id, "Enter Store ID:" %>
			<%= text_field_tag :store_id,  @store_id %>
			<%= submit_tag "Search", :class => "button expand" %>
		<% end %>

		<% if @store.good_experiences.any? && @store.bad_experiences.any? %>
			<div class="rating">

				<%= link_to "Overall experience", store_path(id: @store_id) %>

				<div class="medium-4 medium-offset-2 columns">
					<%= link_to store_path(id: @store_id) do %>
						<img src="<%= image_url('good.svg') %>" width="100%" alt="good experience" />
						<%= @store.good_experiences.count %>
					<% end %>
				</div>
				<div class="medium-4 columns end">
					<%= link_to store_path(id: @store_id) do %>
						<img src="<%= image_url('bad.svg') %>" width="100%" alt="bad experience" />
						<%= @store.bad_experiences.count %>
					<% end %>
				</div>
			</div>
		<% end %>
	</section>

</div>
